@charset "utf-8";



/**************** MQ Tablet *****************/

@media screen and (max-width:1024px)  {
	
body {
	background: #BBFBA1;
}	
	
.cats-pic li {
width:25%;
}	

form li {
	width: 50%;
	padding-right: 10px;
}

}

/**************** MQ Mobile *****************/

@media screen and (max-width:768px) {
body {
	background: tomato;
}
/**************** Header *****************/

.nav-menu {
	display: block;
	float: right;
	cursor: pointer;
}
header {
	background-color: #1D1D1D;
	font-size: 1.1em;
	padding: 1em;
}
header ul {
	width: 100%;
	height: 0;
	overflow: hidden;
}
.nav-open {
	height: auto;
}
header li a {
	float: none;
	display: block;
	padding: 1em 0;
	margin: 0;
}
header li a:first-child {
	margin-top: 1em;
}
/**************** Intro *****************/

.col {
	width: 100%;
	float: none;
	font-size: 1.1em;
	text-align: justify;
	line-height: 26px;
}
.col2 {
	margin-top:10px;
	float: none;
}

form li {
	width: 100%;
}


/**************** Cats *****************/

cats-pic li {
width:100px;

}


}

@media screen and (max-width:400px) {

body {
background:#ACDEFF;	
}



}